<h2><%= @user.name %> 的通知</h2>

<ul>
  <% @notifications.each do |notification| %>
    <li>
      <% if notification.content.split('person').size == 1 %>
        <%= link_to notification.datas[:candidate_partner].name, notification.datas[:candidate_partner] %> <%= notification.content %>
      <% else %>
        <%= notification.content.split('person')[0] %>
        <%= link_to notification.datas[:candidate_partner].name, notification.datas[:candidate_partner] %>
        <%= notification.content.split('person')[1] %>
      <% end %>
      <%= link_to '查看詳情', notification.datas[:detail] %>
    </li>
  <% end %>
</ul>