<%= form_for(@user, html: { class: 'form-signup' }) do |f| %>
  <h2 class="form-signin-heading">註冊</h2>

  <%= f.text_field :name, class: 'form-control',
                                  placeholder: '您的名字',
                                  autofocus: true %>

  <%= f.email_field :email, class: 'form-control',
                                    placeholder: 'E-mail' %>

  <%= f.password_field :password, class: 'form-control',
                                  placeholder: '密碼' %>

  <%= f.password_field :password_confirmation, class: 'form-control',
                                               placeholder: '確認密碼' %>

  <div class="actions">
    <%= f.submit %>
  </div>

  <div>
    <%= f.collection_check_boxes :experienced_language_ids, Language.all, :id, :name %>
  </div>
<% end %>
