<% provide :title, "註冊" %>
<%= form_for(@user, html: { class: 'form-signup' }) do |f| %>
  <h2 class="form-signin-heading">註冊</h2>

  <%= f.text_field :name, class: 'form-control username',
                                  placeholder: '您的名字',
                                  autofocus: true %>

  <%= f.email_field :email, class: 'form-control email',
                                    placeholder: 'E-mail' %>

  <%= f.password_field :password, class: 'form-control password',
                                  placeholder: '密碼' %>

  <%= f.password_field :password_confirmation, class: 'form-control password-confirmation',
                                               placeholder: '確認密碼' %>

  <%# tried fail %>
  <%# f.collection_select :experienced_language_ids, Language.all, :id, :name, {}, { multiple: true } %>
  <%# collection_select(object, method, collection, value_method, text_method, options = {}, html_options = {}) %>


  <%# http://stackoverflow.com/questions/9573989/adding-extra-html-attributes-to-a-rails-collection-select %>
  <%# http://api.rubyonrails.org/classes/ActionView/Helpers/AssetUrlHelper.html %>
  <%# http://rvera.github.io/image-picker/ %>
  <h3 class="form-signin-heading">請選擇您擅長的語言</h2>
  <% @languages = Language.all.map { |lang| [lang.name, lang.id, { 'data-img-src' => image_url("flags/thumbs/#{lang.flag}") }] } %>
  <%= f.select :experienced_language_ids, @languages, {}, { multiple: true, class: 'exp-langs' } %>


  <div class="has-account">有帳號了嗎？<%= link_to '現在就登入', login_path %>吧。</div>


  <%= f.submit '註冊', class: 'btn btn-lg btn-success btn-block' %>
<% end %>
