<div class="container">
  <%= form_for(@demand) do |f| %>

    <div>
      <%= f.collection_radio_buttons :language_id, Language.all, :id, :name %>
    </div>

    <div class="field">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div>

    <div class="time-options-field">
      <table class="table">
        <thead>
          <tr>
            <th></th>
            <th>日</th>
            <th>一</th>
            <th>二</th>
            <th>三</th>
            <th>四</th>
            <th>五</th>
            <th>六</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <th>早</th>

            <%= f.collection_check_boxes :arrangement_ids, WeekTime.spec_moment('早'), :id, :name do |t| %>
              <td>
                <%= t.check_box %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>午</th>
            <%= f.collection_check_boxes :arrangement_ids, WeekTime.spec_moment('午'), :id, :name do |t| %>
              <td>
                <%= t.check_box %>
              </td>
            <% end %>
          </tr>

          <tr>
            <th>晚</th>
            <%= f.collection_check_boxes :arrangement_ids, WeekTime.spec_moment('晚'), :id, :name do |t| %>
              <td>
                <%= t.check_box %>
              </td>
            <% end %>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>

</div>