<div class="container">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>想學</th>
        <th>聯絡人</th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @demands.available.each do |demand| %>
      <tr>
        <td>
          <%= link_to(users_path(good_at: demand.language.flag.split('.')[0])) do %>
            <%= image_tag("flags/thumbs/#{demand.language.flag}") %>
            <span><%= demand.language.name %></span>
          <% end %>
        </td>

        <td>
          <%= link_to demand.author do %>
            <%= gravatar_for(demand.author, size: 48) %>
            <span><%= demand.author.name %></span>
          <% end %>
        </td>
        <td><%= link_to '我有興趣', demand %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
</div>