<p>
  <strong>Description:</strong>
  <%= @demand.description %>
</p>

<p>
  <strong>User:</strong>
  <%= @demand.owner.name %>
</p>

<%= link_to 'Edit', edit_demand_path(@demand) %> |
<%= link_to 'Back', demands_path %>

<% if current_user && !current_user.is_mine?(@demand) %>
   |
  <% unless current_user.already_apply_for?(@demand) %>
    <%= link_to 'Apply', apply_demand_path(@demand), method: :post %>
  <% else %>
    <%= link_to 'Cancel', cancel_apply_demand_path(@demand), method: :post %>
  <% end %>
<% end %>
