<!DOCTYPE html>
<html>
<head>

  <title><%= yield :title %> | LHU Language</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%# http://stackoverflow.com/questions/5186613/rails-current-page-versus-controller-controller-name %>
<body class="<%# controller.controller_name == "sessions"? "auth-login" : "auth-signup" %>auth">
  <div class="container">
    <%= render 'layouts/alert' %>
    <%= yield %>
  </div>
</body>
</html>